* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 200px;
}