@font-face {
    font-family: Montsserat;
    src: url(/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #edefec;
    font-family: Montsserat;
}

nav {
    padding: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-buttons > button {
    background-color: transparent;
    border: none;
}

.nav-buttons > button:hover {
    cursor: pointer;
    color: white;
}

#projects {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.image-container {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
    display: inline-block;
}

.image-container img {
    max-width: 100%;
}

.hover-name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(85, 85, 85);
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.image-container:hover .hover-name {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.image-name {
    position: absolute;
    top: 45%;
}

@media (max-width: 1200px) {
   #projects {
    width: calc(100% - 20px);
    columns: 3;
   } 

   .hover-name {
    font-size: 20px;
   }
}

@media (max-width: 768px) {
   #projects {
    columns: 2;
   } 
}

@media (max-width: 480px) {
   #projects {
    columns: 1;
   } 

   .hover-name {
    font-size: 40px;
   }
}


